/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides 
 */

#show {
  text-align: center;
}

img {
  height : 150px !important;
}

.span4 ul {
  list-style: none;
}
.carousel-inner .item .thumbnails li {
    margin-left: 80px !important; 
}

.row-fluid .span4 {
  background-color: lightgray;
  height: 400px;
}

.nav-header {
  line-height: 24px;
  margin-bottom: 30px;
  font-size: 1em !important;
}

.nav li {
  line-height: 40px;
  text-align: left;
}

.spinner {
    text-align: center;
}

.movie-desc {
    line-height: 20px !important;
}

.nav li span {
    font-weight: bold;
    font-size: 1em;
}
.well {
  height: 100%;
}

.list-name h2 {
  margin-left: 78px;
}

.btn-group {
    margin-top: 10px !important;
}
